
:root {
    --background-color: #000;
    --text-color:  #ffffff;
    --logo-color:   blueviolet;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--background-color);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo{
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
    background-color: var(--logo-color);
    padding: 10px;
    border-radius: 50%;
    color:var(--text-color);
}
header h1{
    margin: auto;
     font-family: 'Roboto', sans-serif;
}
main{
    padding: 0 10px;
}
main h2{
    text-align: center;
    padding: 10px;  
    font-family: 'Roboto', sans-serif;
}

section h2{
    text-align: left;
     font-family: 'Roboto', sans-serif;
}
ul li{
    list-style:none;
    padding: 0 20px;
}

img{
    width: 300px;
}
.image-area h2{
    text-align: center;
    padding: 10px; 
    font-family: 'Roboto', sans-serif; 
}
.image-area p{
    padding: 10px 5px;
}
